/*Cores do site: Ideia -> DarK ludic cottage, pastel gotic e neubrutalism */
.bg-primary-color {
 background: #FFFFFF;
 padding: 10px 0;
 margin: 0;
}

.bg-secondary-color {
    background: #353535;
    padding: 10px 0;
    margin: 0;
}

.primary-color {
color: aliceblue;
}

/* Titulo/Logo do site: Ideia -> uma especie de frutiger aero bar */
p {
    text-indent: 2em;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bolder;
    margin: 8px 20px;
    text-align: left;
    line-height: 1.2;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

h2 {
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    margin: 30px;
}

h3 {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bolder;
    margin: 10px 20px;
    text-align: left;
}

h4 {
   
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bolder;
    margin: 8px 20px;
    text-align: center;
    line-height: 1.2;
    
}

/*Coisas do Navbar*/
#navbar {
border-bottom: #353535;

}

#navbar a:hover {
    color: #757575f5;
    font-size: 25px;
}

#navbar a:active {
  border-bottom: 1px solid #000000;
}

.navbar-brand {
    display: flex;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Resto do site */
main {
    background: #000000d8;
}

.Emphasis {
   position:relative;
   padding: 20px;
	
}

/* vi um tutorial */

.Slider {
    margin: 0 auto;
    width: 1240px;
    height: 620px;
    overflow: hidden;
}

.Slides {
    width: 400%;
    height: 620px;
    display: flex;
}

.Slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1240px;
}

.manual-navigation {
    position: absolute;
    width: 1240px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFFFFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.Navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.Navigation-auto {
    position: absolute;
    width: 1240px;
    margin-top: 580px;
    display: flex;
    justify-content: center;
}

.Navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .Navigation-auto .auto-btn1 {
    background-color: #FFFFFF;
}

#radio2:checked ~ .Navigation-auto .auto-btn2 {
    background-color: #FFFFFF;
}

#radio3:checked ~ .Navigation-auto .auto-btn3 {
    background-color: #FFFFFF;
}

#radio4:checked ~ .Navigation-auto .auto-btn4 {
    background-color: #FFFFFF;
}

/* Cabo o tutorial */

.Store {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.Items {
    width: 1240px;
	padding: 10px;
    text-align: center;
}

.Items li {
    display: block;
	width: 80%;
    align-items: center;
    margin: 50px 30px 100px 70px;
}

.Card {
    width: 100%;
    display: flex;
}

.InsideBox1, .InsideBox2 {
    display: inline-block;
    width: 50%;

}

.InsideBox1 {
    text-align: center;
    padding: 0px 50px;
}


.ButtonDownload {
    display: block;
    width: 20px 10px;
    background-color: #5f5f5fde;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 5px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin: 20px;
}

.ButtonDownload:hover {
    background-color: #363636fd;
    color: #ffffffc2;
    font-size: 24px;
}

.GameListImg {
    width: 100%;
    display: inline-block;
    border: 2px solid #FFFFFF;
}

main {
    padding-bottom: 80px;
}

footer {
    background: #FFFFFF;
  
}

.Copyright {
    color: #000000;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Página de livros */

.DisclaimerBegging {
    width: auto;
    padding: 20px;
}

.BookListImg {
    width: 50%;
    display: inline-block;
    border: 2px solid #FFFFFF;
}

/* Página de contato */

.History {
    padding: 20px 50px;
}

.Social {
    padding: 50px;
}

.InsideBox3 {
text-align: right;
}

.InsideBox4 {
    text-align: left;
    padding: 0px 50px;
}

.PerfilImg {
    width: 45%;
    display: inline-block;
    border: 2px solid #FFFFFF;
}